@model ThinkPower.LabB3.Web.ViewModels.QuestionnaireDisplayViewModel
<div id="header" style="background-image:url(@Html.DisplayFor(model => model.HeadBackgroundImg));">
    <h1 id="title">@Html.DisplayFor(model => model.QuestionnaireName)</h1>
</div>
<hr />
<div id="content">
    <div class="bg-info">
        <div id="head-description">
            <p>@Html.DisplayFor(model => model.HeadDescription)</p>
        </div>
        <div id="question-content">
            @using (Html.BeginForm("EvaluationRank", "RiskEvaluation", FormMethod.Post, htmlAttributes: new { id = "questForm" }))
            {
                @Html.HiddenFor(model => model.QuestUid)
                @Html.HiddenFor(model => model.QuestionnaireId)
                int count = 1;
                foreach (var quest in Model.QuestDefineEntitys)
                {
                    <div class="question"
                         data-question-id="@quest.QuestionId"
                         data-answer-type="@quest.AnswerType"
                         data-need-answer="@quest.NeedAnswer"
                         data-min-multiple-answers="@quest.MinMultipleAnswers"
                         data-max-multiple-answers="@quest.MaxMultipleAnswers"
                         data-single-answer-condition="@quest.SingleAnswerCondition"
                         data-allow-na-condition="@quest.AllowNaCondition">
                        <span class="question-content">
                            @Convert.ToString(count).&nbsp;@quest.QuestionContent
                        </span><br />

                        @if (quest.AnswerType == "F")
                        {
                            <div class="answer">
                                <ul>
                                    @foreach (var ans in quest.AnswerDefineEntities)
                                    {
                                        <li>
                                            @Html.TextBox(quest.QuestionId, "", new { name = quest.QuestionId, data_answer_code = ans.AnswerCode })
                                        </li>
                                    }
                                </ul>
                                <span id="@quest.QuestionId-validation" class="validate-text"></span>
                            </div>
                        }

                        @if (quest.AnswerType == "S")
                        {
                            <div class="answer">
                                <ul>
                                    @foreach (var ans in quest.AnswerDefineEntities)
                                    {
                                        <li>
                                            @Html.RadioButton(quest.QuestionId, ans.AnswerCode, new { value = @ans.AnswerCode, data_have_other_answer = ans.HaveOtherAnswer })
                                            <span>&nbsp;&nbsp;@ans.AnswerContent&nbsp;&nbsp;</span>

                                            @if (ans.HaveOtherAnswer == "Y")
                                            {
                                                @Html.TextBox(quest.QuestionId, "", new { data_need_other_answer = ans.NeedOtherAnswer, data_answer_code = ans.AnswerCode })
                                            }
                                        </li>
                                    }
                                </ul>
                                <span id="@quest.QuestionId-validation" class="validate-text"></span>
                            </div>
                        }
                        @if (quest.AnswerType == "M")
                        {
                            <div class="answer">
                                <ul>
                                    @foreach (var ans in quest.AnswerDefineEntities)
                                    {
                                        <li>
                                            <input id="@quest.QuestionId" name="@quest.QuestionId" type="checkbox" data-have-other-answer="@ans.HaveOtherAnswer" value="@ans.AnswerCode">
                                            <span>&nbsp;&nbsp;@ans.AnswerContent&nbsp;&nbsp;</span>
                                            @if (ans.HaveOtherAnswer == "Y")
                                            {
                                                @Html.TextBox(quest.QuestionId, "", new { data_need_other_answer = ans.NeedOtherAnswer, data_answer_code = ans.AnswerCode })
                                            }
                                        </li>
                                    }
                                </ul>
                                <span id="@quest.QuestionId-validation" class="validate-text"></span>
                            </div>
                        }

                        @{count++;}
                    </div>
                }
                <p>@Html.Raw(Model.FooterDescription)</p>
                <div class="text-center">
                    <input id="submit-button" type="button" value="確定" class="btn-info" />
                </div>
                <br />
            }
        </div>
    </div>
</div>


