<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LabB3風險評估問卷</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="nav" class="navbar navbar-dark bg-success navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("LabB3", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="">
                <ul class="nav navbar-nav nav-color nav-right ">
                    <li>@Html.ActionLink("首頁", "Index", "Home")</li>
                    <li>@Html.ActionLink("關於", "About", "Home")</li>
                    <li>@Html.ActionLink("登出", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="nav-left" class="col-md-3 hidden-sm hidden-xs" data-spy="affix" data-offset-top="0">
        <br/>
        <ul class="navbar-left">
            <li><a href="#">風險評估問卷(1)</a></li><br />
            <li><a href="#">風險評估問卷(2)</a></li>
        </ul>
    </div>
    <div id="main" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>LabB3 Inc. All Rights Reserved</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
